# Local cache
.cache/

# Build files
build/
dist/
wynncraft.egg-info/

# Bytecode files
tests/__pycache__/
tests/cache/__pycache__/
wynncraft/__pycache__/
wynncraft/cache/__pycache__/
wynncraft/utils/__pycache__/
